/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.row {
  flex-direction: row-reverse;
  margin-top: 5rem;
}

@media print {
  .row {
    margin-top: 3rem;
  }
}

/* Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  @media print {
    .row {
      margin-top: 1.75rem;
    }
  }
}
