/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.row {
  flex-direction: row-reverse;
  margin-top: 5rem;
}

@media print {
  .row {
    margin-top: 1rem;
  }
}
