/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

:global(body.no-scroll) {
  /* biome-ignore lint/complexity/noImportantStyles: - */
  overflow: hidden !important;
}

.lens {
  position: relative;
  height: 0;
}

.lens .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

[data-theme="dark"] .lens .overlay {
  background: rgba(50, 50, 50, 0.9);
}

[data-theme="light"] .lens .overlay {
  background: rgba(255, 255, 255, 0.9);
}

.lens figure {
  z-index: 3;
  max-width: 95%;
  margin: 5rem auto 1rem auto;
  text-align: center;
}

.lens.zoomed {
  cursor: zoom-out;
}

.lens.zoomed .overlay {
  pointer-events: auto;
}

.lens.zoomed figure {
  position: fixed;
  inset: 0;
  overflow-y: scroll;
}

.lens figure img {
  margin: 0 auto;
  box-shadow: 0px 0.125rem 0.4375rem rgba(0, 0, 0, 0.2);
}

@media print {
  .lens {
    display: none;
  }
}
