# Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
# All rights reserved.

/build
.cache-loader
cover.jpg
/coverage/
.docusaurus
.DS_Store
.env.*
*.log*
/models
/node_modules
/playwright/.cache/
/playwright/report/
/playwright/results/
/playwright/snapshots/
.provenance
*.report.html
.searchignore
supports
