/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.container {
  background: var(--prism-background-color);
  border-radius: var(--ifm-code-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  color: var(--prism-color);
  margin-bottom: var(--ifm-leading);
}

.content {
  border-radius: inherit;
  direction: ltr;
  position: relative;
}

.lines {
  display: flex;
  font-family: 'Noto Serif Devanagari',SFMono-Regular,Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;
  font-size: inherit;
  min-width: 100%;
  padding: 1.35rem 1rem 1rem 1rem;
}

.lines::after {
  content: '';
  flex: 0 0 1.25rem;
}

.lines:global(.phrase--gray) {
  background-color: var(--ifm-color-secondary-contrast-background);
  border-left: 0.35rem solid var(--ifm-color-secondary-dark);
}

.lines:global(.phrase--green) {
  background-color: var(--ifm-color-success-contrast-background);
  border-left: 0.35rem solid var(--ifm-color-success-dark);
}

.lines:global(.phrase--red) {
  background-color: var(--ifm-color-danger-contrast-background);
  border-left: 0.35rem solid var(--ifm-color-danger-dark);
}

.lines:global(.phrase--text-green) {
  color: var(--ifm-color-success-darkest);
}

.numbers {
  display: table;
  padding: var(--ifm-pre-padding) 0;
}

.standalone {
  padding: 0;
}

.title {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  font-size: var(--ifm-code-font-size);
  font-weight: 500;
  padding: 0.75rem var(--ifm-pre-padding);
}

[data-theme='dark'] .container {
  --prism-background-color: #282A36;
  --prism-color: #F8F8F2;
}

[data-theme='light'] .container {
  --prism-background-color: #F6F8FA;
  --prism-color: #393A34;
}

@media print {
  .container {
    break-inside: avoid;
    margin-bottom: 0.5rem;
  }

  .lines,
  .title {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .lines {
    padding: 0.75rem 0.5rem 0.4rem 0.5rem;
    white-space: pre-wrap;
  }

  .lines span {
    display: contents;
  }

  .standalone {
    margin-bottom: 0;
  }

  .title {
    padding: 0.15rem 0.5rem;
  }
}
