/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.instruction {
  margin-bottom: var(--ifm-spacing-vertical);
}

.picture {
  margin: 0;
}

.picture img {
  width: 100%;
}

.support {
  display: flex;
  align-items: center;
}

.support + details {
  margin-top: var(--ifm-leading);
}

.support span.badge {
  margin-right: 0.5rem;
  line-height: 1.25rem;
}

.support .icon {
  width: 2rem;
  height: 2rem;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  border-radius: 50%;
  transition: color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

[data-theme="dark"] .support .icon:hover {
  color: #a8d8e8;
  background: rgba(0, 100, 255, 0.5);
  filter: drop-shadow(0.075rem 0.075rem 0.075rem rgba(0, 0, 0, 0.4));
}

[data-theme="light"] .support .icon:hover {
  color: #1a73e8;
  background: rgba(200, 220, 250, 0.5);
  filter: drop-shadow(0.075rem 0.075rem 0.075rem rgba(0, 0, 0, 0.4));
}

.support .icon svg {
  vertical-align: middle;
}

@media print {
  .support + details summary p {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .instruction,
  .support + details [class*="collapsibleContent_"] > div p,
  .support + details summary li {
    font-size: 0.85rem;
    line-height: 1.25rem;
  }

  .support + details blockquote {
    padding-left: 0.3rem;
  }

  .support + details summary blockquote,
  .support + details [class*="collapsibleContent_"] > div > blockquote,
  .support + details [class*="collapsibleContent_"] > div > p {
    margin-bottom: 0.3rem;
  }

  .instruction {
    margin-bottom: 0.5rem;
  }

  .support + details {
    padding: 0.5rem 0.75rem 0 0.75rem;
    margin-top: 0.5rem;
  }

  .support + details blockquote > ol,
  .support + details blockquote > ul {
    padding-left: 1rem;
  }

  .support + details [class*="collapsibleContent_"] {
    padding-top: 0.5rem;
    margin-top: 0.1rem;
  }

  .support .icon {
    display: none;
  }
}
