/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.phrases,
.word,
.word .character {
  display: inline-block;
}

.phrases,
.phrases.play {
  user-select: none;
}

.word {
  margin-right: 0.35em;
  white-space: nowrap;
}

@media print {
  .word,
  .word .character {
    opacity: 1 !important;
  }
}
