/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.figure {
  margin: 0 auto 3rem auto;
  max-width: 25rem;
}

[data-theme='dark'] .figure {
  filter: drop-shadow(0.15rem 0.15rem 0.5rem rgba(29, 142, 238, 0.55));
}

[data-theme='light'] .figure {
  filter: drop-shadow(0.15rem 0.15rem 0.5rem rgba(156, 206, 247, 0.55));
}

.figure .shape {
  mask: url(/src/pages/about/img/mask.svg);
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  padding-top: 1rem;
}

[data-theme='dark'] .figure .shape {
  background: #0c5a9c;
}

[data-theme='light'] .figure .shape {
  background: #e5f2fd;
}

.figure .shape svg {
  height: 80%;
  margin-left: 2.5rem;
  width: 80%;
}

.figure .shape svg circle {
  animation: blink 1.75s step-end 1.1s 5;
  will-change: opacity;
}

.figure .shape svg:nth-of-type(1) {
  margin-bottom: 0.9rem;
}

.figure .shape svg:nth-of-type(2) {
  margin-bottom: 3.125rem;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media print {
  [data-theme] .figure {
    filter: none;
    max-width: 65%;
    opacity: 1 !important;
    transform: none !important;
  }

  .figure .shape {
    display: flex;
    flex-direction: row;
    mask: none;
  }

  [data-theme] .figure .shape {
    background: transparent;
  }

  .figure .shape svg {
    height: 100%;
    width: 100%;
  }

  .figure .shape svg:nth-of-type(1),
  .figure .shape svg:nth-of-type(2) {
    margin: 0;
  }

  .figure .shape svg:nth-of-type(1) {
    margin-right: 3rem;
  }

  .figure .shape svg circle {
    animation: none;
  }
}

/* Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  @media print {
    :global(.col--4):has(.figure) {
      --ifm-col-width: 100%;
    }
  }
}
