/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.row {
  margin-top: 2rem;
}

.timeline {
  max-height: 100%;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

.timeline::before {
  background-attachment: fixed;
  background-size: cover;
  content: '';
  display: block;
  inset: -3.75rem 0 -5.65rem 0;
  position: absolute;
  z-index: -1;
}

[data-theme='dark'] .timeline::before {
  background-image: radial-gradient(#9ca9dc, #1a244b);
}

[data-theme='light'] .timeline::before {
  background-image: radial-gradient(#fff, #b9c3e6);
}

.timeline a {
  text-decoration: none;
}

@media print {
  .row {
    margin-top: 0;
  }

  [data-theme] .timeline::before {
    background: transparent;
    inset: 0;
  }
}
