/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.row {
  margin-top: 2rem;
}

.timeline {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

[data-theme='dark'] .timeline {
  background: radial-gradient(#9ca9dc, #1a244b);
}

[data-theme='light'] .timeline {
  background: radial-gradient(#fff, #b9c3e6);
}

.timeline a {
  text-decoration: none;
}

@media print {
  .row {
    margin-top: 0;
  }

  [data-theme] .timeline {
    background: transparent;
  }
}
