/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.portfolio {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0);
  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease;
  will-change: transform;
}

[data-theme="dark"] .portfolio {
  background: #242424;
  border: 0.0625rem solid #5f5f5f;
}

[data-theme="light"] .portfolio {
  background: #fafafa;
  border: 0.0625rem solid #dee2e6;
}

.hover.portfolio {
  transform: scale(1.007);
}

[data-theme="dark"] .hover.portfolio {
  box-shadow:
    0 0.125rem 0.5rem rgba(0, 0, 0, 0.45),
    0 0 0.75rem rgba(255, 255, 255, 0.12);
}

[data-theme="light"] .hover.portfolio {
  box-shadow:
    0 0.125rem 0.5rem rgba(0, 0, 0, 0.14),
    0 0 0.75rem rgba(255, 255, 255, 0.12);
}

.portfolio figure {
  margin: 0 2rem 1.15rem 2rem;
}

.portfolio figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.portfolio figcaption .tags {
  padding: 0;
  margin: 1.5rem 0 0 0;
  font-size: 0.75rem;
  text-align: center;
  list-style: none;
}

.portfolio figcaption .tags li {
  display: inline-block;
  padding: 0 0.625rem;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.015625rem;
  text-decoration: none;
  cursor: default;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: all 0.1s;
}

[data-theme="dark"] .portfolio figcaption .tags li {
  color: #74c0fc;
  background: rgba(34, 139, 230, 0.15);
}

[data-theme="light"] .portfolio figcaption .tags li {
  color: #228be6;
  background: rgba(34, 139, 230, 0.1);
}

.portfolio figcaption h2 {
  margin-bottom: 1rem;
  font-family: "Yeseva One", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.portfolio figcaption p {
  margin-bottom: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
}

[data-theme="dark"] .portfolio figcaption h2,
[data-theme="dark"] .portfolio figcaption h2 > a[class*="link_"],
[data-theme="dark"] .portfolio figcaption span > span[class*="heart_"],
[data-theme="dark"] .portfolio figcaption span > span[class*="count_"],
[data-theme="dark"] .portfolio figcaption p {
  color: #c9c9c9;
}

[data-theme="dark"] .portfolio figcaption h2 > a[class*="link_"]:hover {
  color: #248aaa;
}

[data-theme="dark"] .portfolio figcaption span > span[class*="heart_"]:hover {
  color: #ff3040;
}

[data-theme="light"] .portfolio figcaption h2,
[data-theme="light"] .portfolio figcaption h2 > a[class*="link_"],
[data-theme="light"] .portfolio figcaption span > span[class*="heart_"],
[data-theme="light"] .portfolio figcaption span > span[class*="count_"],
[data-theme="light"] .portfolio figcaption p {
  color: #000;
}

.portfolio figcaption h2 span[class*="reaction_"] span[class*="heart_"] {
  margin-left: 1rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.portfolio figcaption p:last-of-type {
  margin-bottom: 0;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: clamp(1rem, 2vw, 1.75rem);
  align-items: start;
  padding: 0;
  margin: 1rem 0 0 0;
}

@media print {
  [data-theme] .portfolio {
    background: var(--ifm-background-color);
  }

  .portfolio figure {
    margin: 0 0.75rem;
  }

  .portfolio figure img {
    min-width: 100%;
  }

  .portfolio figcaption {
    padding-top: 0.5rem;
  }

  .portfolio figcaption h2,
  .portfolio figure {
    margin-bottom: 0.35rem;
  }

  .portfolio figcaption h2 {
    font-size: 1.15rem;
    line-height: 1rem;
  }

  .portfolio figcaption p {
    font-size: 0.825rem;
    line-height: 1rem;
  }

  .portfolio figcaption .tags,
  .portfolios {
    margin-top: 0.5rem;
  }

  .portfolios {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75rem;
    align-items: flex-start;
    break-inside: auto;
  }

  .portfolios > article {
    break-inside: avoid;
  }

  .portfolios article:nth-child(7),
  .portfolios article:nth-child(8) {
    margin-bottom: 5.75rem;
  }

  .portfolios article:nth-child(9),
  .portfolios article:nth-child(10) {
    margin-bottom: 3rem;
  }

  .portfolios article:nth-child(11),
  .portfolios article:nth-child(12) {
    margin-bottom: 9.75rem;
  }

  /* biome-ignore format: FF specific as 2024 */
  @supports (-moz-appearance:none) {
    .portfolios article:nth-child(1),
    .portfolios article:nth-child(2) {
      margin-top: 0.15rem;
    }
  }
}

/* biome-ignore format: Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  @media print {
    .portfolios article:nth-child(1),
    .portfolios article:nth-child(2) {
      margin-top: 42.5rem;
      margin-bottom: 10.25rem;
    }

    .portfolios article:nth-child(3),
    .portfolios article:nth-child(4),
    .portfolios article:nth-child(5),
    .portfolios article:nth-child(6) {
      margin-bottom: 18rem;
    }

    .portfolios article:nth-child(7),
    .portfolios article:nth-child(8) {
      margin-bottom: 18.25rem;
    }

    .portfolios article:nth-child(9),
    .portfolios article:nth-child(10) {
      margin-bottom: 20.75rem;
    }

    .portfolios article:nth-child(11),
    .portfolios article:nth-child(12) {
      margin-bottom: 15rem;
    }

    .portfolio figcaption p {
      font-size: 0.81rem;
    }

    .portfolio figcaption .tags li {
      font-size: 0.65rem;
    }
  }
}
