/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.portfolio {
  border-radius: 0.5rem;
  overflow: hidden;
}

[data-theme='dark'] .portfolio {
  background: #242424;
  border: 0.0625rem solid #5f5f5f;
}

[data-theme='light'] .portfolio {
  background: #fafafa;
  border: 0.0625rem solid #dee2e6;
}

.portfolio figure {
  margin: 0 2rem 1.15rem 2rem;
}

.portfolio figcaption {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.portfolio figcaption .tags {
  font-size: 0.75rem;
  list-style: none;
  margin: 1.5rem 0 0 0;
  padding: 0;
  text-align: center;
}

.portfolio figcaption .tags li {
  border: 1px solid transparent;
  border-radius: 1rem;
  cursor: default;
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.015625rem;
  line-height: normal;
  margin-bottom: 0.2rem;
  margin-right: 0.3rem;
  overflow: hidden;
  padding: 0 0.625rem;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.1s;
}

[data-theme='dark'] .portfolio figcaption .tags li {
  background: rgba(34, 139, 230, 0.15);
  color: #74c0fc;
}

[data-theme='light'] .portfolio figcaption .tags li {
  background: rgba(34, 139, 230, 0.1);
  color: #228be6;
}

[data-theme='dark'] .portfolio figcaption h2,
[data-theme='dark'] .portfolio figcaption h2>a[class*="link_"],
[data-theme='dark'] .portfolio figcaption span>span[class*="heart_"],
[data-theme='dark'] .portfolio figcaption span>span[class*="count_"],
[data-theme='dark'] .portfolio figcaption p {
  color: #c9c9c9;
}

[data-theme='dark'] .portfolio figcaption h2>a[class*="link_"]:hover {
  color: #248aaa;
}

[data-theme='dark'] .portfolio figcaption span>span[class*="heart_"]:hover {
  color: #ff3040;
}

[data-theme='light'] .portfolio figcaption h2,
[data-theme='light'] .portfolio figcaption h2>a[class*="link_"],
[data-theme='light'] .portfolio figcaption span>span[class*="heart_"],
[data-theme='light'] .portfolio figcaption span>span[class*="count_"],
[data-theme='light'] .portfolio figcaption p {
  color: #000;
}

.portfolio figcaption h2 {
  font-family: 'Yeseva One', cursize;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.portfolio figcaption h2 span[class*='reaction_'] span[class*='heart_'] {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-left: 1rem;
}

.portfolio figcaption p {
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.portfolio figcaption p:last-of-type {
  margin-bottom: 0;
}

.portfolios {
  align-items: start;
  display: grid;
  gap: clamp(1rem, 2vw, 1.75rem);
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  margin: 1rem 0 0 0;
  overflow: hidden;
  padding: 0;
}

@media print {
  [data-theme] .portfolio {
    background: var(--ifm-background-color);
  }

  .portfolio figure {
    margin: 0 0.75rem;
  }

  .portfolio figcaption {
    padding-top: 0.5rem;
  }

  .portfolio figcaption h2,
  .portfolio figure {
    margin-bottom: 0.35rem;
  }

  .portfolio figcaption h2 {
    font-size: 1.15rem;
    line-height: 1rem;
  }

  .portfolio figcaption p {
    font-size: 0.825rem;
    line-height: 1rem;
  }

  .portfolio figcaption .tags,
  .portfolios {
    margin-top: 0.5rem;
  }

  .portfolios {
    align-items: center;
    break-inside: auto;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
  }

  /* FF specific as 2024. */
  @supports (-moz-appearance:none) {
    .portfolios {
      column-count: 2;
      column-gap: 0.75rem;
      display: block;
    }

    .portfolios article {
      margin-bottom: 0.75rem;
    }
  }

  .portfolios>article {
    break-inside: avoid;
  }
}

/* Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  @media print {
    .portfolios {
      grid-auto-rows: max-content;
    }

    .portfolios article {
      break-inside: avoid;
    }

    .portfolios article:nth-child(1) {
      margin-bottom: 9.5rem;
    }

    .portfolios article:nth-child(2) {
      margin-bottom: 8.5rem;
    }

    .portfolios article:nth-child(3) {
      margin-bottom: 22rem;
    }

    .portfolios article:nth-child(4) {
      margin-bottom: 25.6rem;
    }

    .portfolios article:nth-child(5) {
      margin-bottom: 22rem;
    }

    .portfolios article:nth-child(6) {
      margin-bottom: 24rem;
    }

    .portfolios article:nth-child(7) {
      margin-bottom: 24.5rem;
    }

    .portfolios article:nth-child(8) {
      margin-bottom: 25.125rem;
    }

    .portfolios article:nth-child(9) {
      margin-bottom: 27rem;
    }

    .portfolios article:nth-child(10) {
      margin-bottom: 26rem;
    }

    .portfolios article:nth-child(11) {
      margin-bottom: 20rem;
    }

    .portfolios article:nth-child(12) {
      margin-bottom: 25.6rem;
    }

    .portfolios article:nth-child(13) {
      margin-bottom: 26.6rem;
    }

    .portfolios article:nth-child(14) {
      margin-bottom: 25.6rem;
    }

    .portfolio figcaption p {
      font-size: 0.81rem;
    }

    .portfolio figcaption .tags li {
      font-size: 0.65rem;
    }
  }
}
