/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.home {
  max-height: 100%;
  min-height: calc(100vh - 9.4rem);
  position: relative;
}

.home::before {
  backface-visibility: hidden;
  background-attachment: fixed;
  background-image: url(/src/pages/img/hero.webp);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.35;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home a {
  text-decoration: none;
}

@media print {
  .home::before {
    background: transparent;
  }
}
