/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.home {
  max-height: 100%;
  min-height: calc(100vh - 9.4rem);
  position: relative;
}

.home::before {
  backface-visibility: hidden;
  background-attachment: fixed;
  background-image: url(/src/pages/img/hero.webp);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  inset: -3.75rem 0 -5.65rem 0;
  opacity: 0.35;
  position: absolute;
  z-index: -1;
}

.home a {
  text-decoration: none;
}

[data-theme='dark'] :global(.theme-layout-main):has(>.home)+footer:global(.footer) {
  background-color: color-mix(in oklab, var(--ifm-footer-background-color) 65%, transparent);
  border-bottom: 0.0625rem solid color-mix(in oklab, var(--ifm-footer-background-color) 65%, transparent);
}

@media print {
  .home::before {
    background: transparent;
    inset: 0;
  }
}
