/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.home {
  position: relative;
  min-height: calc(100vh - 9.4rem);
  max-height: 100%;
}

.home::before {
  position: absolute;
  inset: -3.75rem 0 -5.65rem 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: url(/src/pages/img/hero.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0;
  background-size: cover;
  opacity: 0.35;
  backface-visibility: hidden;
}

.home a {
  text-decoration: none;
}

.preamble {
  padding: 0 2rem;
  margin: 1.5rem 0 1rem 0;
}

.preamble h1 {
  font-size: 1.9rem;
  text-align: left;
}

[data-theme="dark"]
  :global(.theme-layout-main):has(> .home)
  + footer:global(.footer) {
  background-color: color-mix(
    in oklab,
    var(--ifm-footer-background-color) 65%,
    transparent
  );
  border-bottom: 0.0625rem solid
    color-mix(in oklab, var(--ifm-footer-background-color) 65%, transparent);
}

@media print {
  .home::before {
    inset: 0;
    background: transparent;
  }

  .preamble {
    padding: 0 0.75rem;
    margin: 0 0 0.5rem 0;
  }
}
