/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.resume {
  max-height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.resume :global(.container) {
  position: relative;
}

@media print {
  @page {
    margin: 0.5in;
    size: Letter portrait;
  }
}
