/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.figure {
  max-width: 31.25rem;
  margin: auto;
  border-radius: 1.25rem;
}

.figure picture {
  margin: 50% 0;
  will-change: filter;
}

[data-theme="dark"] .figure picture {
  filter: drop-shadow(0 0.5rem 0.75rem rgba(255, 255, 255, 0.08));
}

[data-theme="light"] .figure picture {
  filter: drop-shadow(0 0.5rem 0.75rem rgba(0, 0, 0, 0.35));
}

.figure picture img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0.1875rem 0.3rem 0.125rem rgb(0 0 0 / 0.4));
}

@media print {
  .figure {
    max-width: 50%;
    margin: 0 auto;
    /* biome-ignore lint/complexity/noImportantStyles: - */
    opacity: 1 !important;
    /* biome-ignore lint/complexity/noImportantStyles: - */
    transform: none !important;
  }

  [data-theme] .figure picture {
    margin: 0;
    filter: none;
  }

  .figure picture img {
    filter: none;
  }
}

/* biome-ignore format: Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  @media print {
    :global(.col--2):has(.figure) {
      --ifm-col-width: 100%;
    }

    .figure {
      margin-top: 9.5rem;
    }
  }
}
