/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.background {
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  height: auto;
  left: 0;
  line-height: 1.25;
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.85) 12.5%,
      rgba(0, 0, 0, 0.25) 25%,
      rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 5rem;
  user-select: none;
  -webkit-mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.85) 12.5%,
      rgba(0, 0, 0, 0.25) 25%,
      rgba(0, 0, 0, 0) 100%);
  white-space: pre;
  width: 100%;
  z-index: -1;
}

[data-theme='dark'] .background {
  color: #dcd2ff24;
}

[data-theme='light'] .background {
  color: #dcd2ff;
}

section.block:last-of-type {
  margin-bottom: 3rem;
}

.block .col {
  line-height: 1.5;
  padding: 0 6rem;
}

.block .col article,
.block .col p,
.block .col ul {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.block .col h2,
.block .col h3 {
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  margin: 2rem 0 0.5rem 0;
}

.block .col h2,
.block .col h3 {
  align-items: center;
  display: flex;
}

.block .col h2 {
  font-size: 1.4rem;
}

.block .col h2 svg {
  margin: 0 0.3rem 0 0;
}

.block .col h3 {
  font-size: 1.2rem;
  justify-content: space-between;
  margin-top: 1.5rem;
}

[data-theme='dark'] .block .col h3 .affiliation {
  color: #9c9ea6;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.18);
}

[data-theme='dark'] .block .col h3 .year {
  color: #81838a;
}

[data-theme='light'] .block .col h3 .affiliation {
  color: #6f7680;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.06);
}

[data-theme='light'] .block .col h3 .year {
  color: #868e96;
}

.block .col p {
  margin: 0;
  text-align: justify;
}

.block .col ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

.block.educations .col article,
.block.experiences .col article {
  margin: 0 0 0.5rem 1.25rem;
  text-align: justify;
}

.block.experiences .col article em.tags {
  font-size: 0.85rem;
}

.block.experiences .col ul {
  margin-left: 1.25rem;
}

.block.testimonials .col ul {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style: none;
  margin-top: 0.25rem;
  padding: 0;
  row-gap: 0.75rem;
}

.block:not(.testimonials) .col ul li::marker {
  content: '» ';
  font-size: 1.175rem;
  line-height: 0;
}

@media screen and (max-width: 48rem) {
  .block.testimonials .col ul {
    grid-template-columns: 1fr;
  }
}

@media print {
  .background {
    display: none;
  }

  .block {
    margin-top: 0;
  }

  section.block:last-of-type {
    margin-bottom: 0;
  }

  .block .col {
    flex: 0 0 100%;
    line-height: 1;
    margin-left: 0;
    max-width: 100%;
    padding: 0;
  }

  .block .col a,
  .block .col article,
  .block .col li,
  .block .col li strong,
  .block .col li strong em,
  .block .col li strong em a,
  .block .col p {
    font-size: 0.825rem;
  }

  .block .col h2,
  .block .col h3,
  .block .col h3 a,
  [data-theme] .block .col h3 .affiliation,
  [data-theme] .block .col h3 .year {
    text-shadow: none;
  }

  .block .col h2 {
    font-size: 1.1rem;
    margin: 0.5rem 0 0.15rem 0;
  }

  .block .col h3 {
    margin: 0.35rem 0 0.15rem 0;
  }

  .block .col h3,
  .block .col h3 a {
    font-size: 0.95rem;
  }

  .block.educations .col article,
  .block.experiences .col article {
    margin: 0 0 0.25rem 0.75rem;
  }

  .block.experiences .col article[data-project="razorgator"] {
    margin-right: 6.75rem;
  }

  .block.experiences .col article em.tags {
    font-size: 0.75rem;
  }

  .block .col ul {
    padding-bottom: 0;
  }

  .block.certifications .col ul {
    display: flex;
    gap: 4.5rem;
  }

  .block.experiences .col ul {
    margin-left: 0.5rem;
  }

  .block.testimonials .col ul {
    row-gap: 0.5rem;
  }

  .block:not(.testimonials) .col ul li::marker {
    font-size: 1.05rem;
    line-height: 0;
  }
}

/* Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  .block .col ul {
    list-style: none;
  }

  .block .col ul li {
    position: relative;
  }

  .block:not(.testimonials) .col ul li::before {
    content: '»';
    left: -1.15rem;
    line-height: 1.35rem;
    position: absolute;
  }

  @media print {
    .block .col a,
    .block .col article,
    .block .col li,
    .block .col li strong,
    .block .col li strong em,
    .block .col li strong em a,
    .block .col p {
      font-size: 0.81rem;
    }

    .block .col h2,
    .block .col h3 {
      line-height: 1;
    }

    .block .col h3,
    .block .col h3 a {
      font-size: 0.94rem;
    }

    [data-theme] .block .col h3 .affiliation,
    [data-theme] .block .col h3 .year {
      font-size: 0.875rem;
    }

    .block.experiences .col article em.tags {
      font-size: 0.725rem;
    }

    .block:not(.testimonials) .col ul li::before {
      left: -0.8rem;
      line-height: 0.7rem;
    }
  }
}
