/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.content {
  column-count: 2;
  column-fill: balance;
  column-gap: 2rem;
  margin: 2rem auto;
}

.content .story {
  width: 100%;
  max-width: 100%;
  padding: 1.25rem;
  margin-bottom: 2rem;
  object-fit: cover;
  border-radius: 0.75rem;
  break-inside: avoid;
}

[data-theme="dark"] .content .story {
  border: 1px solid #b4b4be;
  box-shadow: 0 0.125rem 0.375rem rgba(160, 170, 190, 0.22);
}

[data-theme="light"] .content .story {
  border: 1px solid #7e7e8a;
  box-shadow: 0 0.125rem 0.375rem rgba(100, 110, 130, 0.28);
}

.content h2 {
  font-family: "Yeseva One", cursive;
  font-size: 2.15rem;
  font-weight: 400;
}

.content h2 span[class*="reaction_"] span[class*="heart_"] {
  margin-left: 1.25rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
}

.content address p {
  margin: 0;
  font-style: normal;
}

.content address,
.content .story p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.content .story p {
  font-size: 1rem;
  text-align: justify;
}

.content .story:last-of-type {
  margin-bottom: 0;
}

.content h2 a.topic,
.content address .affiliation a,
.content address .name a,
.content address .title a {
  transition: color var(--ifm-transition-fast) ease-in;
}

.content address .dash {
  position: relative;
  display: block;
}

.content address .dash::before {
  position: absolute;
  top: 50%;
  width: 1.25rem;
  height: 0.125rem;
  content: "";
  transform: translateY(-50%);
}

[data-theme="dark"] .content address .dash::before {
  background: #d3d3d3;
}

[data-theme="light"] .content address .dash::before {
  background: #282f49;
}

.content address .affiliation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.content address .affiliation p {
  padding-left: 0.15rem;
  font-size: 0.75rem;
  line-height: 0.95rem;
}

.content address .name {
  padding: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.content address .title {
  padding: 0.6rem 0 0 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.75rem;
  text-transform: uppercase;
}

[data-theme="dark"] .content address .affiliation p,
[data-theme="dark"] .content address .affiliation svg,
[data-theme="dark"] .content address .title {
  color: #b8b8b8;
}

[data-theme="dark"] .content h2 a.topic,
[data-theme="dark"] .content address .name a,
[data-theme="dark"] .content address .title a,
[data-theme="dark"] .content address .affiliation p a {
  color: #a5d8ff;
}

[data-theme="dark"] .content h2 a.topic:hover,
[data-theme="dark"] .content address .affiliation a:hover,
[data-theme="dark"] .content address .name a:hover,
[data-theme="dark"] .content address .title a:hover {
  color: #d0ebff;
}

[data-theme="light"] .content address .affiliation p,
[data-theme="light"] .content address .affiliation svg,
[data-theme="light"] .content address .title {
  color: #868e96;
}

[data-theme="light"] .content h2 a.topic:hover,
[data-theme="light"] .content address .affiliation a:hover,
[data-theme="light"] .content address .name a:hover,
[data-theme="light"] .content address .title a:hover {
  color: #1864ab;
}

@media screen and (max-width: 48rem) {
  .content {
    column-count: 1;
  }
}

@media print {
  .content {
    column-count: auto;
    column-gap: 0;
    margin: 0.5rem 0 0 0;
  }

  .content .story {
    padding: 0.5rem 0.9rem 0.15rem 0.9rem;
    margin-bottom: 0.25rem;
    /* biome-ignore lint/complexity/noImportantStyles: - */
    opacity: 1 !important;
    /* biome-ignore lint/complexity/noImportantStyles: - */
    transform: none !important;
  }

  [data-theme] .content .story {
    border: 0;
    box-shadow: none;
  }

  .content .story:last-of-type {
    margin-bottom: 0;
  }

  .content .story h2 {
    margin-bottom: 0.15rem;
    font-size: 1.1rem;
  }

  .content .story p {
    margin-bottom: 0.175rem;
    font-size: 0.825rem;
    line-height: 1rem;
  }

  .content address {
    display: inline-flex;
  }

  .content .story address .dash {
    margin-top: -1.25rem;
  }

  .content .story address .dash::before {
    print-color-adjust: exact;
  }

  .content address .name {
    padding: 0.45rem 0.25rem 0 0.5rem;
    font-size: 0.8rem;
  }

  .content address .title {
    padding: 0.45rem 0 0 0;
    font-size: 0.7rem;
  }

  .content .story address p {
    margin-bottom: 0;
  }

  .content address .affiliation svg {
    width: 0.85rem;
    height: 0.85rem;
    margin: 0 0 0.05rem 0.15rem;
  }

  .content address .affiliation p {
    padding: 0.45rem 0 0 0.05rem;
  }
}

/* biome-ignore format: Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  @media print {
    .content .story {
      padding: 0.5rem 0.9rem 0 0.9rem;
      margin-bottom: 0.25rem;
    }

    .content .story h2 {
      line-height: 1.15rem;
    }

    .content .story p,
    .content .story address p {
      font-size: 0.75rem;
    }

    .content address .affiliation svg {
      margin: 0 0 0.075rem 0.05rem;
    }
  }
}
