/*!
 * Copyright © 2015 Richard Huang <rickypc@users.noreply.github.com>
 * All rights reserved.
 */

.hats {
  display: grid;
  grid-gap: 0;
  /* min: (bigger width between 15rem and 1/2 of total width minus gaps) */
  /* max: 1fr */
  grid-template-columns: repeat(auto-fill, minmax(max(15rem, 50%), 1fr));
  overflow: hidden;
  padding: 0;
}

.hats .hat {
  padding: 1rem 2rem;
}

.hats .hat h2 {
  align-items: center;
  display: inline-flex;
  text-shadow: 0.125rem 0.125rem 0.1875rem rgba(255, 255, 255, 0.1);
}

[data-theme='dark'] .hats .hat h2 i {
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.25);
}

[data-theme='light'] .hats .hat h2 i {
  text-shadow: 0.125rem 0.125rem 0.1875rem rgba(255, 255, 255, 0.1);
}

.hats .hat h2 .reader {
  display: none;
}

.hats .hat h2>img {
  height: 2rem;
  margin-right: 0.75rem;
  width: 2rem;
}

.hats .hat p {
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  margin: 0 0 1rem 0;
}

.hats .hat p:last-of-type {
  margin: 0;
}

[data-theme='dark'] .hats .hat p {
  color: #d3d3d3;
}

[data-theme='light'] .hats .hat p {
  color: #282f49;
}

.hats .hat h2 i {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  background-clip: text;
  background-size: 400% 100%;
  color: transparent;
  display: inline-block;
  white-space: nowrap;
  will-change: background-position;
}

.hats .hat h2 [class*='phrases_'][class*='play_'] i {
  animation: rainbow 6s ease-in-out;
}

.hats .hat h2,
.hats .hat h2 [class*='word_'] [class*='character_'] {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.hats .hat .details {
  backdrop-filter: blur(0.375rem);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem color-mix(in oklab, black 10%, transparent),
    0 0.0625rem 0.125rem color-mix(in oklab, black 15%, transparent);
  margin-top: 0.5rem;
  overflow: hidden;
  user-select: none;
}

[data-theme='dark'] .hats .hat .details {
  background-color: color-mix(in oklab, #303846 18%, transparent);
}

[data-theme='light'] .hats .hat .details {
  background-color: color-mix(in oklab, #8a94a3 12%, transparent);
}

.hats .hat .details .toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.5rem;
  line-height: 1rem;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  transition: color 150ms ease-in-out;
  width: 100%;
}

.hats .hat .details .toggle .icon {
  height: 1rem;
  transform: rotate(0deg);
  transition: color 150ms ease-in-out, transform 150ms ease-in-out;
  width: 1rem;
}

[data-theme='dark'] .hats .hat .details .toggle:hover,
[data-theme='dark'] .hats .hat .details .toggle:hover .icon {
  color: color-mix(in oklab, white 70%, #e5e7eb 30%);
}

[data-theme='light'] .hats .hat .details .toggle:hover,
[data-theme='light'] .hats .hat .details .toggle:hover .icon {
  color: color-mix(in oklab, #4b5563 100%, black 25%);
}

.hats .hat .details .toggle .active.icon {
  transform: rotate(45deg);
}

[data-theme='dark'] .hats .hat .details .wrapper {
  border-top: 0.0625rem solid color-mix(in oklab, #303846 75%, transparent);
}

[data-theme='light'] .hats .hat .details .wrapper {
  border-top: 0.0625rem solid color-mix(in oklab, #8a94a3 25%, transparent);
}

.hats .hat .details .content p {
  font-size: 0.95rem;
  line-height: 1.25rem;
  padding: 0 0.75rem;
}

.hats .hat .details .content p:first-of-type {
  margin-top: 0.5rem;
}

.hats .hat .details .content p:last-of-type {
  margin-bottom: 0.5rem;
}

[data-theme='dark'] .hats .hat .details .content p,
[data-theme='dark'] .hats .hat .details .toggle,
[data-theme='dark'] .hats .hat .details .toggle .icon {
  color: #e5e7eb;
}

[data-theme='light'] .hats .hat .details .content p,
[data-theme='light'] .hats .hat .details .toggle,
[data-theme='light'] .hats .hat .details .toggle .icon {
  color: #4b5563;
}

@keyframes rainbow {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

@media print {
  .hats .hat {
    padding: 0.3rem 0.75rem;
  }

  .hats .hat:last-of-type>p {
    margin-right: 5rem;
  }

  .hats .hat h2 {
    margin-bottom: 0;
    text-shadow: none;
  }

  [data-theme] .hats .hat h2 i {
    background: none;
    color: #000;
    text-shadow: none;
  }

  .hats .hat h2 [class*='phrases_'][class*='play_'] i {
    animation: none;
  }

  [data-theme] .hats .hat p,
  .hats .hat .details .content p {
    font-size: 0.825rem;
    line-height: 1.15rem;
  }

  [data-theme] .hats .hat p {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .hats .hat h2 [class*='word_'] {
    margin-right: 0.3rem;
  }

  .hats .hat h2,
  .hats .hat h2 [class*='word_'] [class*='character_'] {
    font-size: 1.25rem;
  }

  [data-theme] .hats .hat .details {
    backdrop-filter: none;
    background: none;
    box-shadow: none;
    margin: 0;
  }

  .hats .hat .details .toggle {
    gap: 0;
    padding: 0 0 0.5rem 0;
    text-align: left;
  }

  .hats .hat .details .toggle .icon {
    display: none;
  }

  [data-theme] .hats .hat .details .wrapper {
    border: none;
  }

  .hats .hat .details .content p {
    padding: 0;
  }

  .hats .hat .details .content p:first-of-type {
    margin-top: 0;
  }

  .hats .hat .details .content p:last-of-type {
    margin-bottom: 0;
  }
}

/* Safari only */
@supports (not (-webkit-text-size-adjust:none)) and (font: -apple-system-body) {
  @media print {
    :global(.col--10):has(.hats) {
      --ifm-col-width: 100%;
    }

    [data-theme] .hats .hat p,
    .hats .hat .details .content p {
      font-size: 0.81rem;
      line-height: 1.05rem;
    }
  }
}
